<form action="<%= cat_url(@cat) %>" method="post">
<input type="hidden" name="_method" value="patch">
    <label> name
     <input name="cat[name]" type="text" value="<%=@cat.name%>"> 
    </label>
    <br>
    <label> birth date
     <input name="cat[birth_date]" type="date" value="<%=@cat.birth_date%>" min="2000-01-01" max="2025-09-29"/>
    </label>
    <br>
    <label for="color">Choose a Color:
        <select id="color" name="cat[color]">
        <option value="<%#=@cat.color%>"></option>
        <% Cat::CAT_COLORS.each do |color| %>
            <option <%="selected" if color == @cat.color %>><%= color %></option>
        <% end %>
        </select>
    </label>
    <br>
    <label> sex
     <input name="cat[sex]" type="radio" value="F" <%="checked" if "F" == @cat.sex %>><label>F</label>
     <input name="cat[sex]" type="radio" value="M" <%="checked" if "M" == @cat.sex %>><label>M</label>
    </label>
    <br>
    <label> description
     <textarea name="cat[description]" type="text" value="<%=@cat.description%>"></textarea>
    </label>
    <br>
    <input type="submit" value="Create Cat">
</form>